<div id="wrap" class="basic-container">
    <div class="img-container">
        <img src="http://panomagic.eu/vt3/skin/preview.jpg" alt="Царевец" title="Велико Търново">
    </div>
    <div class="row">
        <div id="news" class="col col-12 col-lg-8">
            <div class="pagination-wrap">
                <ul id="pagination" class="sync-pagination top"></ul>
            </div>
            {{#each newsPages}}
            <div id="news-page-{{number}}" class="news-page {{#unless defaultPage}}hidden{{/unless}}">
                <ul id="news-list">
                    {{#each items}}
                    <li class="news-item">
                        <div class="news-item-img">
                            <a href="#/news/{{id}}">
                                <img src="{{imgUrl}}" alt="Заглавие">
                            </a>
                        </div>
                        <div class="news-item-data">
                            <div class="news-item-data-inner">
                                <div class="news-item-header">
                                    <h2><a href="#/news/{{id}}">{{heading}}</a></h2>
                                </div>
                                <div class="news-item-stats">
                                    <div class="row center-on-tablet">
                                        <span class="date col col-12 col-sm-3">{{date}}</span>
                                        <span class="devider col col-12 col-sm-1 not-visible-on-mobile">|</span>
                                        <span class="comments col col-12 col-sm-3">{{commentsCount}} {{#if isSingleComment}}коментар{{else}}коментара{{/if}}</span>
                                    </div>
                                </div>
                                <div class="news-item-content">
                                    {{{content}}}
                                    <a href="#/news/{{id}}" title="Виж повече" class="readmore">Виж повече</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
            {{/each}}
            <div class="pagination-wrap">
                <ul id="pagination" class="sync-pagination"></ul>
            </div>
        </div>
        <aside id="ads" class="col col-12 col-lg-4">
            <div class="main-ad-box">
                <a href="#" title="Място за вашата реклама">
                    <img src="http://www.nikona.net/images/GREECE/santorini_with_the_greek_flag.jpg" alt="вашата реклама">
                    <i class="overlay-plus"></i>
                </a>
                <div class="main-ad-content">
                    <h2>Основна реклама</h2>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim dignissimos hic minima, error ut fugiat aperiam veniam consequuntur
                    ex at voluptatibus, adipisci deserunt. Delectus tempore non, magni ab, doloremque eveniet.
                </div>
            </div>
            <div class="side-menu-wrap">
                <ul class="side-menu-list">
                    <li class="side-menu-item">
                        <a href="#/home" class="side-menu-button">Начало</a>
                    </li>
                    <li class="side-menu-item">
                        <a href="#/sites" class="side-menu-button">Обекти</a>
                    </li>
                    <li class="side-menu-item">
                        <a href="#/news" class="side-menu-button">Новини</a>
                    </li>
                </ul>
            </div>
            <div class="ad-list-wrap">
                <ul id="ad-list">
                    <li class="ad-item">
                        <div class="ad-box">
                            <h2>
                                <a href="#" title="Реклама" class="title">Второстепенна реклама</a>
                            </h2>
                            <div class="ad-box-content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim dignissimos hic minima, error ut fugiat aperiam veniam consequuntur
                                ex at voluptatibus, adipisci deserunt. Delectus tempore non, magni ab, doloremque eveniet.
                            </div>
                            <a href="#" title="Виж повече" class="readmore">not visible</a>
                        </div>
                    </li>
                    <li class="ad-item">
                        <div class="ad-box">
                            <h2>
                                <a href="#" title="Реклама" class="title">Второстепенна реклама</a>
                            </h2>
                            <div class="ad-box-content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim dignissimos hic minima, error ut fugiat aperiam veniam consequuntur
                                ex at voluptatibus, adipisci deserunt. Delectus tempore non, magni ab, doloremque eveniet.
                            </div>
                            <a href="#" title="Виж повече" class="readmore">not visible</a>
                        </div>
                    </li>
                </ul>
            </div>
        </aside>
    </div>
</div>