<div id="wrap" class="basic-container">
    <div class="img-container">
        <img src="http://bulgarkamagazine.com/wp-content/uploads/2015/10/049420532667.jpg" class="header-img" alt="Плиска" title="Плиска">
    </div>
    <div class="row">
        <div id="sites" class="col col-12 col-lg-8">
            <div class="row">
                <div id="filter-by-region" class="btn-group col col-12 col-md-6">
                    <button type="button" class="btn dropdown-value">{{filteredOnThis}}</button>
                    <button type="button" class="btn basic-dropdown-btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                        <button  class="dropdown-item default">Всички области</button >
                        <button  class="dropdown-item">Благоевград</button >
                        <button  class="dropdown-item">Видин</button >
                        <button  class="dropdown-item">Велико Търново</button >
                        <button  class="dropdown-item">Враца</button >
                        <button  class="dropdown-item">Кюстендил</button >
                        <button  class="dropdown-item">Монтана</button >
                        <button  class="dropdown-item">Перник</button >            
                        <button  class="dropdown-item">Пловдив</button >
                        <button  class="dropdown-item">София-град</button >                
                        <button  class="dropdown-item">Хасково</button >
                        <button  class="dropdown-item">Шумен</button >                                   
                    </div>
                </div>
                <div id="order-by" class="btn-group col col-12 col-md-6" role="group" aria-label="Basic example">
                    <button id="number" type="button" class="btn order-btn {{#if orderByNumber}} active {{/if}}">Номер</button>
                    <button id="visits" type="button" class="btn order-btn {{#if orderByVisits}} active {{/if}}">Посещения</button>
                </div>
            </div>
            {{#if regionSelected}}
            <div class="sites-count">
                {{sitesCount}} {{#if isSingleSite}}обект{{else}}обекта{{/if}}
            </div>
            {{/if}}
            <ul id="sites-list">
                {{#each sites}}
                <li class="site">
                    <div class="site-wrap">
                        <div class="row">
                            <div class="col col-12 col-md-11">
                                <h2><a href="/#/all-sites/{{id}}">{{number}}. {{name}} - {{town}}</a></h2>
                            </div>
                            <div class="site-info col col-12 col-md-1 justify-content-end">
                                <i class="fa fa-user visits-icon" aria-hidden="true"></i>
                                <span class="visits">{{numberOfVisits}}</span>
                            </div>
                        </div>
                        <div class="site-content">
                            {{{description}}}
                            <a href="/#/all-sites/{{id}}" title="Виж повече" class="readmore">Виж повече</a>
                        </div>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
        <aside id="ads" class="col col-12 col-lg-4">
            <div class="main-ad-box">
                <a href="#" title="Място за вашата реклама">
                    <img src="http://befit.bg/mag/wp-content/uploads/2013/09/kruiz-480x480.jpg" alt="вашата реклама">
                    <i class="overlay-plus"></i>
                </a>
                <div class="main-ad-content">
                    <h2>Основна реклама</h2>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim dignissimos hic minima, error ut fugiat aperiam veniam consequuntur
                    ex at voluptatibus, adipisci deserunt. Delectus tempore non, magni ab, doloremque eveniet.
                </div>
            </div>
            <div class="side-menu-wrap">
                <ul class="side-menu-list">
                    <li class="side-menu-item">
                        <a href="#/home" class="side-menu-button">Начало</a>
                    </li>
                    <li class="side-menu-item">
                        <a href="#/sites" class="side-menu-button">Обекти</a>
                    </li>
                    <li class="side-menu-item">
                        <a href="#/news" class="side-menu-button">Новини</a>
                    </li>
                </ul>
            </div>
            <div class="ad-list-wrap">
                <ul id="ad-list">
                    <li class="ad-item">
                        <div class="ad-box">
                            <h2>
                                <a href="#" title="Реклама" class="title">Второстепенна реклама</a>
                            </h2>
                            <div class="ad-box-content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim dignissimos hic minima, error ut fugiat aperiam veniam consequuntur
                                ex at voluptatibus, adipisci deserunt. Delectus tempore non, magni ab, doloremque eveniet.
                            </div>
                            <a href="#" title="Виж повече" class="readmore">not visible</a>
                        </div>
                    </li>
                    <li class="ad-item">
                        <div class="ad-box">
                            <h2>
                                <a href="#" title="Реклама" class="title">Второстепенна реклама</a>
                            </h2>
                            <div class="ad-box-content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim dignissimos hic minima, error ut fugiat aperiam veniam consequuntur
                                ex at voluptatibus, adipisci deserunt. Delectus tempore non, magni ab, doloremque eveniet.
                            </div>
                            <a href="#" title="Виж повече" class="readmore">not visible</a>
                        </div>
                    </li>
                </ul>
            </div>
        </aside>
    </div>
</div>