<div id="wrap" class="basic-container">
    <div id="featured-flexslider" class="flexslider">
        <ul class="slides">
            {{#each topSites}}
            <li>
                <div class="featured-flexslider-img">
                    <a href="/api/sites/{{_id}}" title="{{name}}">
                        <img src="{{imgUrl}}" alt="{{name}}" height="200" width="300">
                    </a>
                    <div class="img-caption">
                        {{town}}
                    </div>
                </div>

                <div class="text-caption">
                    <div class="description-container">
                        <h2><a href="/api/sites/{{_id}}" title="{{name}}" rel="bookmark">{{name}}</a></h2>
                        {{{description}}}
                    </div>
                    <div class="slider-meta">
                        <span class="slider-readmore" title="Прочети повече"></span>
                        <div class="visits">
                            <i class="fa fa-user visits-icon" aria-hidden="true"></i>
                            <strong>{{numberOfVisits}}</strong>
                        </div>
                    </div>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
    <section id="sites-carousel-section">
        <div id="sites-carousel-inner" class="basic-container">
            <div id="carousel-wrap">
                <ul id="sites-carousel" class="slides">
                    {{#each popularSites}}
                    <li class="sites-carousel-item">
                        <a href="/api/sites/{{_id}}" title="{{name}}" class="posts-carousel-item">
                            <img src="{{imgUrl}}" alt="{{name}}">
                            <i class="overlay-plus"></i>
                        </a>
                        <div class="sites-carousel-article">
                            <h2>
                                <a href="/api/sites/{{_id}}">{{name}}<span> - {{town}}</span></a>
                            </h2>
                            <p>{{description}}</p>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </section>
    <div id="main-content">
        <div class="basic-container">
            <div class="row">
                <section id="news" class="col col-12 col-lg-8">
                    <ul id="news-list">
                        <li class="news-item">
                            <div class="news-item-wrap">
                                <h2>This is header</h2>
                                <div class="news-item-info">
                                    <span class="date">12 March 2017</span> |
                                    <span class="comments">2 comments</span>
                                </div>
                                <div class="news-item-content">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae placeat quis iure natus fugiat voluptatem, necessitatibus
                                    culpa, nihil aliquid suscipit debitis dignissimos optio soluta eaque accusamus doloremque
                                    dicta sit asperiores.
                                </div>
                            </div>
                        </li>
                        <li class="news-item">
                            <div class="news-item-wrap">
                                <h2>This is header2</h2>
                                <div class="news-item-info">
                                    <span class="date">12 March 2017</span> |
                                    <span class="comments">3 comments</span>
                                </div>
                                <div class="news-item-content">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae placeat quis iure natus fugiat voluptatem, necessitatibus
                                    culpa, nihil aliquid suscipit debitis dignissimos optio soluta eaque accusamus doloremque
                                    dicta sit asperiores.
                                </div>
                            </div>
                        </li>
                    </ul>
                </section>
                <aside id="ads" class="col col-12 col-lg-4">
                    <div class="main-ad">
                        <a href="#" title="Място за вашата реклама">
                            <img src="http://i1.kym-cdn.com/photos/images/original/000/326/428/033.jpg" alt="your ad here">
                            <i class="overlay-plus"></i>
                        </a>
                        <h2>Lorem ipsum</h2>
                        <div class="main-ad-content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim dignissimos hic minima, error ut fugiat aperiam veniam consequuntur
                            ex at voluptatibus, adipisci deserunt. Delectus tempore non, magni ab, doloremque eveniet.
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>