<div id="wrap" class="basic-container">
    <div id="featured-flexslider" class="flexslider">
        <ul class="slides">
            {{#each sites}}
            <li>
                <div class="featured-flexslider-img">
                    <a href="/api/sites/{{_id}}" title="{{name}}">
                        <img src="{{imgUrl}}" alt="{{name}}" height="200" width="300">
                    </a>
                    <div class="img-caption">
                        {{town}}
                    </div>
                </div>

                <article class="text-caption">
                    <h2><a href="/api/sites/{{_id}}" title="{{name}}" rel="bookmark">{{name}}</a></h2>
                    {{{description}}}
                    <div class="slider-meta">
                        <a href="#" title="Прочети повече" class="slider-readmore"></a>
                        <div class="date">July 14, 2013</div>
                    </div>
                </article>
            </li>
            {{/each}}
        </ul>
    </div>
</div>