<div id="wrap" class="basic-container">
    <div id="featured-flexslider" class="flexslider">
        <ul class="slides">
            {{#each topSites}}
            <li>
                <div class="featured-flexslider-img">
                    <a href="/#/all-sites/{{id}}" title="{{name}}">
                        <img src="{{imgUrl}}" alt="{{name}}" height="200" width="300">
                    </a>
                    <div class="img-caption">
                        {{town}}
                    </div>
                </div>

                <div class="text-caption">
                    <div class="description-container">
                        <h2><a href="/#/all-sites/{{id}}" title="{{name}}" rel="bookmark">{{name}}</a></h2>
                        {{{description}}}
                    </div>
                    <div class="slider-meta">
                        <span class="slider-readmore" title="Прочети повече"></span>
                        <div class="visits">
                            <i class="fa fa-user visits-icon" aria-hidden="true"></i>
                            <strong>{{numberOfVisits}}</strong>
                        </div>
                    </div>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
    <section id="sites-carousel-section">
        <div id="sites-carousel-inner" class="basic-container">
            <div id="carousel-wrap">
                <ul id="sites-carousel" class="slides">
                    {{#each popularSites}}
                    <li class="sites-carousel-item">
                        <a href="/#/all-sites/{{id}}" title="{{name}}" class="posts-carousel-item">
                            <img src="{{imgUrl}}" alt="{{name}}">
                            <i class="overlay-plus"></i>
                        </a>
                        <div class="sites-carousel-article">
                            <h2>
                                <a href="/#/all-sites/{{id}}">{{name}}<span> - {{town}}</span></a>
                            </h2>
                            <p>{{description}}</p>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </section>
    <div id="main-content">
        <div class="basic-container">
            <div class="row">
                <section id="home-news" class="col col-12 col-lg-8">
                    <h2 id="news-header">Последни новини</h2>
                    <ul id="news-list">
                        {{#each news}}
                        <li class="news-item">
                            <div class="news-item-wrap">
                                <h2><a href="#/news/{{id}}">{{heading}}</a></h2>
                                <div class="news-item-info">
                                    <div class="row center-on-tablet">
                                        <span class="date col col-12 col-sm-3">{{date}}</span>
                                        <span class="devider col col-12 col-sm-1 not-visible-on-mobile">|</span>
                                        <span class="comments col col-12 col-sm-3">{{commentsCount}} {{#if isSingleComment}}коментар{{else}}коментара{{/if}}</span>
                                    </div>
                                </div>
                                <div class="news-item-content">
                                    {{{content}}}
                                    <a href="#/news/{{id}}" title="Прочети повече" class="readmore">Виж повече</a>
                                </div>
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                </section>
                <aside id="ads" class="col col-12 col-lg-4">
                    <div class="main-ad-box">
                        <a href="#" title="Място за вашата реклама">
                            <img src="https://www.goabroad.com/images/reviews/fcm16-76-10-1481305282.jpg" alt="your ad here">
                            <i class="overlay-plus"></i>
                        </a>
                        <div class="main-ad-content">
                            <h2>Основна реклама</h2>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim dignissimos hic minima, error ut fugiat aperiam veniam consequuntur
                            ex at voluptatibus, adipisci deserunt. Delectus tempore non, magni ab, doloremque eveniet.
                        </div>
                    </div>
                    <div class="side-menu-wrap">
                        <ul class="side-menu-list">
                            <li class="side-menu-item">
                                <a href="#/home" class="side-menu-button">Начало</a>
                            </li>
                            <li class="side-menu-item">
                                <a href="#/sites" class="side-menu-button">Обекти</a>
                            </li>
                            <li class="side-menu-item">
                                <a href="#/news" class="side-menu-button">Новини</a>
                            </li>
                        </ul>
                    </div>
                    <div class="ad-list-wrap">
                        <ul id="ad-list">
                            <li class="ad-item">
                                <div class="ad-box">
                                    <h2>
                                        <a href="#" title="Реклама" class="title">Второстепенна реклама</a>
                                    </h2>
                                    <div class="ad-box-content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim dignissimos hic minima, error ut fugiat aperiam veniam consequuntur
                                        ex at voluptatibus, adipisci deserunt. Delectus tempore non, magni ab, doloremque
                                        eveniet.
                                    </div>
                                    <a href="#" title="Виж повече" class="readmore">not visible</a>
                                </div>
                            </li>
                            <li class="ad-item">
                                <div class="ad-box">
                                    <h2>
                                        <a href="#" title="Реклама" class="title">Второстепенна реклама</a>
                                    </h2>
                                    <div class="ad-box-content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim dignissimos hic minima, error ut fugiat aperiam veniam consequuntur
                                        ex at voluptatibus, adipisci deserunt. Delectus tempore non, magni ab, doloremque
                                        eveniet.
                                    </div>
                                    <a href="#" title="Виж повече" class="readmore">not visible</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>