<div id="wrap" class="basic-container">
    <div id="featured-flexslider" class="flexslider">
        <ul class="slides">
            {{#each sites}}
            <li>
                <div class="featured-flexslider-img">
                    <a href="/api/sites/{{_id}}" title="{{name}}">
                        <img src="{{imgUrl}}" alt="{{name}}" height="200" width="300">
                    </a>
                    <div class="img-caption">
                        {{town}}
                    </div>
                </div>

                <article class="text-caption">
                    <div class="description-container">
                        <h2><a href="/api/sites/{{_id}}" title="{{name}}" rel="bookmark">{{name}}</a></h2>
                        {{{description}}}
                    </div>
                    <div class="slider-meta">
                        <a href="#" title="Прочети повече" class="slider-readmore"></a>
                        <div class="visits">
                            <i class="fa fa-user visits-icon" aria-hidden="true"></i>
                            <strong>{{numberOfVisits}}</strong>
                        </div>
                    </div>
                </article>
            </li>
            {{/each}}
        </ul>
    </div>
</div>