<div id="wrap" class="basic-container">
    <div class="img-container">
        <img id="news-item-img" src="{{newsItem.imgUrl}}" alt="Новина">
    </div>
    <div class="row">
        <div class="content-wrap col col-12 col-lg-8">
            <article class="news-item-content">
                <div class="news-item-content-inner">
                    <div class="news-item-heading">
                        <h2>{{newsItem.heading}}</h2>
                    </div>
                    <div class="news-item-description">
                        {{{newsItem.content}}}
                    </div>
                    <div class="news-item-comments-count">
                        <span class="comments">{{newsItem.commentsCount}} {{#if isSingleComment}}коментар{{else}}коментара{{/if}}</span>
                    </div>
                </div>
            </article>
            {{#if isLoggedIn}}
            <div class="write-comment">
                <div class="write-comment-inner">
                    <div class="write-comment-header">
                        <h3>Напишете коментар:</h3>
                    </div>
                    <div class="textarea-wrap">
                        <textarea id="comment" cols="45" rows="6" maxlength="65525" aria-required="true" required="required"></textarea>
                    </div>
                    <div class="post-commment-wrap">
                        <button type="button" id="post-comment" class="btn basic-btn">Публикувай</button>
                    </div>
                </div>
            </div>
            {{/if}}
            <div id="comments">
                {{#each newsItem.commentsPages}}
                    <div id="comment-page-{{number}}" class="comment-page {{#unless defaultPage}}hidden{{/unless}}">
                        <ul class="comment-page-list">
                        {{#each items}}
                            <li class="comment-item">
                                <div class="comment-wrap">
                                    <div class="row">
                                        <div class="user-img-wrap col col-4 col-sm-2">
                                            <div class="circle">
                                                <a href="#/profiles/{{username}}">
                                                    <img id="user-img" src="{{userProfileImg}}" alt="{{username}}">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="comment-content col col-8 col-sm-10">
                                            <div class="comment-content-inner">
                                                <div class="username">
                                                    <a href="#/profiles/{{username}}">{{username}}</a>
                                                </div>
                                                <div class="date">
                                                    В {{date}}
                                                </div>
                                                <div class="content">
                                                    {{content}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {{/each}}
                        </ul>
                    </div>
                {{/each}}
            </div>
            <div class="pagination-wrap">
                <ul id="pagination"></ul>
            </div>
        </div>
        <aside id="ads" class="col col-12 col-lg-4">
            <div class="main-ad-box">
                <a href="#" title="Място за вашата реклама">
                    <img src="https://media-cdn.tripadvisor.com/media/photo-s/04/9b/ea/0e/bali-aqua-diving.jpg" alt="вашата реклама">
                    <i class="overlay-plus"></i>
                </a>
                <div class="main-ad-content">
                    <h2>Основна реклама</h2>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim dignissimos hic minima, error ut fugiat aperiam veniam consequuntur
                    ex at voluptatibus, adipisci deserunt. Delectus tempore non, magni ab, doloremque eveniet.
                </div>
            </div>
            <div class="side-menu-wrap">
                <ul class="side-menu-list">
                    <li class="side-menu-item">
                        <a href="#/home" class="side-menu-button">Начало</a>
                    </li>
                    <li class="side-menu-item">
                        <a href="#/sites" class="side-menu-button">Обекти</a>
                    </li>
                    <li class="side-menu-item">
                        <a href="#/news" class="side-menu-button">Новини</a>
                    </li>
                </ul>
            </div>
            <div class="ad-list-wrap">
                <ul id="ad-list">
                    <li class="ad-item">
                        <div class="ad-box">
                            <h2>
                                <a href="#" title="Реклама" class="title">Второстепенна реклама</a>
                            </h2>
                            <div class="ad-box-content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim dignissimos hic minima, error ut fugiat aperiam veniam consequuntur
                                ex at voluptatibus, adipisci deserunt. Delectus tempore non, magni ab, doloremque eveniet.
                            </div>
                            <a href="#" title="Виж повече" class="readmore">not visible</a>
                        </div>
                    </li>
                    <li class="ad-item">
                        <div class="ad-box">
                            <h2>
                                <a href="#" title="Реклама" class="title">Второстепенна реклама</a>
                            </h2>
                            <div class="ad-box-content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim dignissimos hic minima, error ut fugiat aperiam veniam consequuntur
                                ex at voluptatibus, adipisci deserunt. Delectus tempore non, magni ab, doloremque eveniet.
                            </div>
                            <a href="#" title="Виж повече" class="readmore">not visible</a>
                        </div>
                    </li>
                </ul>
            </div>
        </aside>
    </div>
</div>