<div id="wrap" class="basic-container">
    <div class="profile-wrap">
        <div class="profile-top">
            <div class="profile-top-inner">
                <div class="row">
                    <div class="profile-img-wrap col-12 col-sm-3">
                        <div class="circle">
                            <img id="user-img" src="{{userData.profileImg}}">
                        </div>
                    </div>
                    <div class="username col col-sm-6">
                        {{userData.username}}
                    </div>
                    <div class="visited-sites-count col col-sm-3">
                        {{userData.visitedSitesCount}}/100
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-data">
            <div class="profile-tabs">
                <ul id="nav-tabs" class="nav nav-tabs">
                    <li class="nav-item profile-tab-item">
                        <span class="nav-link info active">Информация</span>
                    </li>
                    <li class="nav-item profile-tab-item">
                        <span class="nav-link visited-sites">Посетени обекти</span>
                    </li>
                </ul>
            </div>
            <div id="user-data" class="profile-content">
                <div class="profile-content-inner">
                    <div class="tab-pane">
                        <div class="first-name">
                            Име:
                            <span>{{userData.firstName}}</span>
                        </div>
                        <div class="last-name">
                            Фамилия:
                            <span>{{userData.lastName}}</span>
                        </div>
                        <div class="age">
                            Години:
                            <span>{{userData.age}}</span>
                        </div>
                        <div class="description">
                            Описание:
                            <span>{{userData.description}}</span>
                        </div>
                    </div>
                    <div id="visited-sites" class="tab-pane hidden">
                        <div class="table-headings not-visible-on-small-mobile">
                            <div class="row">
                                <div class="col col-1">#</div>
                                <div class="col col-5">Обект</div>
                                <div class="col col-3">Населено място</div>
                            </div>
                        </div>
                        <div class="sites-table-body">
                            {{#each userData.visitedSites}}
                            <div class="site-row" site-number="{{number}}">
                                <div class="visited-sites-row row">
                                    <div class="visited-site-number col col-12 col-sm-1" scope="row">{{number}}</div>
                                    <div class="visited-site-name col col-12 col-sm-5">
                                        <a href="/#/all-sites/{{number}}">{{name}}</a>
                                    </div>
                                    <div class="visited-site-town col col-12 col-sm-3">{{town}}</div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>