<div id="wrap" class="basic-container">
    <div class="profile-wrap">
        <div class="profile-top">
            <div class="profile-top-inner">
                <div class="row">
                    <div class="profile-img-wrap col col-lg-3">
                        <div class="circle">
                            <img id="user-img" src="{{profileImg}}">
                            <div class="username">
                                {{username}}
                            </div>
                        </div>
                    </div>
                    <div class="visited-sites-count col col-lg-9">
                        {{visitedSitesCount}}/100
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-data">
            <div class="profile-tabs">
                <ul id="nav-tabs" class="nav nav-tabs">
                    <li class="nav-item profile-tab-item">
                        <span class="nav-link info active">Информация</span>
                    </li>
                    <li class="nav-item profile-tab-item">
                        <span class="nav-link visited-sites">Посетени обекти</span>
                    </li>
                </ul>
            </div>
            <div id="tabs-data" class="profile-content">
                <div class="profile-content-inner">
                    <div class="tab-pane">
                        <div class="first-name">
                            Име: <span>{{firstName}}</span>
                        </div>
                        <div class="last-name">
                            Фамилия: <span>{{lastName}}</span>
                        </div>
                        <div class="age">
                            Години: <span>{{age}}</span>
                        </div>
                        <div class="description">
                            Описание: <span>{{description}}</span>
                        </div>
                    </div>
                    <div class="tab-pane hidden">
                        <table id="visited-sites" class="table table-striped">
                            <thead class="site-table-header">
                                <tr>
                                    <th class="visited-sites-heading">#</th>
                                    <th class="visited-sites-heading">Обект</th>
                                    <th class="visited-sites-heading">Населено място</th>
                                </tr>
                            </thead>
                            <tbody class="site-table-body">
                                {{#each visitedSites}}
                                <tr class="site-row" site-number="{{number}}">
                                    <th scope="row">{{number}}</th>
                                    <td>{{name}}</td>
                                    <td>{{town}}</td>
                                    <td><button type="button" class="btn site-btn reverse">Отмаркирай</button></td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>