<div id="wrap" class="basic-container">
    <div class="img-container">
        <img id="site-img" src="{{site.imgUrl}}" alt="{{site.name}}">
        <div class="img-caption">
            {{site.town}}
        </div>
    </div>
    <div class="row">
        <div class="content-wrap col col-12 col-lg-8">
            <article class="site-content">
                <div class="site-content-inner">
                    <div class="site-info">
                        <span class="visits">
                        <i class="fa fa-user visits-icon" aria-hidden="true"></i>
                        {{site.numberOfVisits}}
                    </span> |
                        <span class="comments">{{site.commentsCount}} {{#if isSingleComment}}коментар{{else}}коментара{{/if}}</span>
                    </div>
                    <div class="site-header">
                        <h2>{{site.name}}</h2>
                    </div>
                    <div class="site-region">
                        Област {{site.region}}
                    </div>
                    <div class="site-description">
                        {{{site.description}}}
                    </div>
                    {{#if isLoggedIn}}
                    <div class="site-btn-wrap">
                        {{#if isSiteVisited}}
                        <button type="button" id="checkSite" class="btn site-btn reverse">Отмаркирай</button>
                        {{else}}
                        <button type="button" id="checkSite" class="btn site-btn">Маркирай като посетено</button>
                        {{/if}}
                    </div>
                    {{/if}}
                </div>
            </article>
            {{#if isLoggedIn}}
            <div class="write-comment">
                <div class="write-comment-inner">
                    <div class="write-comment-header">
                        <h3>Напишете коментар:</h3>
                    </div>
                    <div class="textarea-wrap">
                        <textarea id="comment" cols="45" rows="8" maxlength="65525" aria-required="true" required="required"></textarea>
                    </div>
                    <div class="post-commment-wrap">
                        <button type="button" id="post-comment" class="btn basic-btn">Публикувай</button>
                    </div>
                </div>
            </div>
            {{/if}}
        </div>
        <aside id="ads" class="col col-12 col-lg-4">
            <div class="main-ad-box">
                <a href="#" title="Място за вашата реклама">
                    <img src="https://www.goabroad.com/images/reviews/fcm16-76-10-1481305282.jpg" alt="your ad here">
                    <i class="overlay-plus"></i>
                </a>
                <div class="main-ad-content">
                    <h2>Основна реклама</h2>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim dignissimos hic minima, error ut fugiat aperiam veniam consequuntur
                    ex at voluptatibus, adipisci deserunt. Delectus tempore non, magni ab, doloremque eveniet.
                </div>
            </div>
            <div class="side-menu-wrap">
                <ul class="side-menu-list">
                    <li class="side-menu-item">
                        <a href="#/sites" class="side-menu-button">Обекти</a>
                    </li>
                    <li class="side-menu-item">
                        <a href="#" class="side-menu-button">Новини</a>
                    </li>
                    <li class="side-menu-item">
                        <a href="#" class="side-menu-button">За нас</a>
                    </li>
                </ul>
            </div>
            <div class="ad-list-wrap">
                <ul id="ad-list">
                    <li class="ad-item">
                        <div class="ad-box">
                            <h2>
                                <a href="#" title="Реклама" class="title">Второстепенна реклама</a>
                            </h2>
                            <div class="ad-box-content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim dignissimos hic minima, error ut fugiat aperiam veniam consequuntur
                                ex at voluptatibus, adipisci deserunt. Delectus tempore non, magni ab, doloremque eveniet.
                            </div>
                            <a href="#" title="Виж повече" class="readmore">not visible</a>
                        </div>
                    </li>
                    <li class="ad-item">
                        <div class="ad-box">
                            <h2>
                                <a href="#" title="Реклама" class="title">Второстепенна реклама</a>
                            </h2>
                            <div class="ad-box-content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim dignissimos hic minima, error ut fugiat aperiam veniam consequuntur
                                ex at voluptatibus, adipisci deserunt. Delectus tempore non, magni ab, doloremque eveniet.
                            </div>
                            <a href="#" title="Виж повече" class="readmore">not visible</a>
                        </div>
                    </li>
                </ul>
            </div>
        </aside>
    </div>
</div>